section.nav-section
  ul#navAccordionSunglasses(role='tablist').glasses-nav
    li#navHeadingBrands(role="tab")
      a#navCollapseLabelBrands(data-toggle="collapse", href='#navCollapseBrands',
      aria-controls='navCollapseBrands', aria-expanded='false').nav-collapse-title
        | Brands
      #navCollapseBrands(role='tabpanel', aria-labelledby='navCollapseLabelBrands',
      data-parent="#navAccordionSunglasses").collapse
        ul#navSubCollapseBrands.sub-collapse
          li.collapse-item
            router-link(to='/sunglasses/designer/ray-ban/d43/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/ray-ban.png?20171030191515')
              |    Ray-Ban
          li.collapse-item
            router-link(to='/sunglasses/designer/oakley/d391/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/oakley.png?20171030191515')
              |    Oakley
          li.collapse-item
            router-link(to='/sunglasses/designer/oliver-peoples/d31936/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/oliver-peoples.png?20171030191515')
              |    Oliver Peoples
          li.collapse-item
            router-link(to='/sunglasses/designer/tom-ford/d284/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/tom-ford.png?20171030191515')
              |    Tom Ford
          li.collapse-item
            router-link(to='/sunglasses/designer/tiffany-co-/d31593/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/tiffany.png?20171030191515')
              |    Tiffany & Co.
          li.collapse-item
            router-link(to='/sunglasses/designer/porsche-design/d31432/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/porsche-design.png?20171114194644')
              |    Porsche Design
          li.collapse-item
            router-link(to='/sunglasses/designer/persol/d208/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/persol.png?20171114194644')
              |    Persol
          li.collapse-item
            router-link(to='/sunglasses/designer/boss-hugo-boss/d246/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/boss.png?20171114194644')
              |    Hugo Boss
          li.collapse-item
            router-link(to='/sunglasses/designer/police/d2/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/police.png?20171114194644')
              |    Police
          li.collapse-item
            router-link(to='/sunglasses/designer/maui-jim/d31472/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/maui-jim.png?20171114194644')
              |    Maui Jim
          li.collapse-item
            router-link(to='/brands/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/_png/brand/view-all-brands.png?20171030191515')
            |    View All Brands »
    li#navHeadingGender(role="tab")
      a#navCollapseLabelGender(data-toggle="collapse", href='#navCollapseGender',
      aria-controls='navCollapseGender', aria-expanded='false').nav-collapse-title
        | Gender
      #navCollapseGender(role='tabpanel', aria-labelledby='navCollapseLabelGender',
      data-parent="#navAccordionSunglasses").collapse
        ul#navSubCollapseGender.sub-collapse
          li.collapse-item
            router-link(to='/sunglasses/designer/mens/c10/') Men's
          li.collapse-item
            router-link(to='/sunglasses/designer/ladies/c11/') Women's
          li.collapse-item
            router-link(to='/sunglasses/designer/kids/c161/') Kids
    li#navHeadingStyle(role="tab")
      a#navCollapseLabelStyle(data-toggle="collapse", href='#navCollapseStyle',
      aria-controls='navCollapseStyle', aria-expanded='false').nav-collapse-title
        | Style
      #navCollapseStyle(role='tabpanel', aria-labelledby='navCollapseLabelStyle',
      data-parent="#navAccordionSunglasses").collapse
        ul#navSubCollapseStyle.sub-collapse
          li.collapse-item
            router-link(to='/sunglasses/designer/aviator/c25/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-aviator.png?20171114194644')
              |    Aviator
          li.collapse-item
            router-link(to='/sunglasses/designer/wayfarer/c89/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-retro.png?20171114194644')
              |    Wayfarer Style
          li.collapse-item
            router-link(to='/sunglasses/designer/cat-eye/c279/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-cateye.png?20171114194644')
              |    Cat Eye
          li.collapse-item
            router-link(to='/sunglasses/designer/horn-rimmed/c278/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-horn.png?20171114194644')
              |    Horn Rimmed
          li.collapse-item
            router-link(to='/sunglasses/designer/round-or-oval/c44/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-round.png?20171114194644')
              |    Round
          li.collapse-item
            router-link(to='/sunglasses/designer/square-or-rectangular/c80/')
              img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/frame-style/mob/style-sun-square.png?20171114194644')
              |    Square
    li#navHeadingSport(role="tab")
      a#navCollapseLabelSport(data-toggle="collapse", href='#navCollapseSport',
      aria-controls='navCollapseSport', aria-expanded='false').nav-collapse-title
        | Sport Sunglasses
      #navCollapseSport(role='tabpanel', aria-labelledby='navCollapseLabelSport',
      data-parent="#navAccordionSunglasses").collapse
        li.collapse-item
          router-link(to='/sunglasses/designer/active-lifestyle/c322/')
            img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/active.png?20171114194644')
            |  Active Lifestyle
        li.collapse-item
          router-link(to='/sunglasses/designer/sport/c46/')
            img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/cycling.png?20171114194644')
            |  Cycling
        li.collapse-item
          router-link(to='/sunglasses/designer/golf/c316/')
            img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/golf.png?20171114194644')
            |  Golf
        li.collapse-item
          router-link(to='/sunglasses/designer/fishing/c314/')
            img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/fishing.png?20171114194644')
            |  Fishing
        li.collapse-item
          router-link(to='/sunglasses/designer/driving/c342/')
            img(src='https://d9qzjwuieyamt.cloudfront.net/res/images/icons/general/mob/driving.png?20171114194644')
            |  Driving
    li#navHeadingLens(role="tab")
      a#navCollapseLabelLens(data-toggle="collapse", href='#navCollapseLens',
      aria-controls='navCollapseLens', aria-expanded='false').nav-collapse-title
        | Lens Type
      #navCollapseLens(role='tabpanel', aria-labelledby='navCollapseLabelLens',
      data-parent="#navAccordionSunglasses").collapse
        ul#navSubCollapseLens.sub-collapse
          li.collapse-item
            router-link(to='/sunglasses/designer/prescription-compatible/c274/') Prescription Sunglasses
          li.collapse-item
            router-link(to='/sunglasses/designer/polarised-lens/c67/') Polarised
          li.collapse-item
            router-link(to='/sunglasses/designer/mirror-flash-lenses/c312/') Mirror
          li.collapse-item
            router-link(to='/sunglasses/designer/prizm/c392/') Oakley Prizm
    li#navHeadingColour(role="tab")
      a#navCollapseLabelColour(data-toggle="collapse", href='#navCollapseColour',
      aria-controls='navCollapseColour', aria-expanded='false').nav-collapse-title
        | Colour
      #navCollapseColour(role='tabpanel', aria-labelledby='navCollapseLabelColour',
      data-parent="#navAccordionSunglasses").collapse
        ul#navSubCollapseColour.sub-collapse
          li.collapse-item
            router-link(to='/sunglasses/designer/black/clr1/') Black Frames
          li.collapse-item
            router-link(to='/sunglasses/designer/grey/clr5/') Grey & Dark Frames
          li.collapse-item
            router-link(to='/sunglasses/designer/brown-havana-tortoise/clr2/') Havana & Tortoise Frames
          li.collapse-item
            router-link(to='/sunglasses/designer/blue/clr3/') Blue Frames
          li.collapse-item
            router-link(to='/sunglasses/designer/red/clr8/') Red Frames
          li.collapse-item
            router-link(to='/sunglasses/designer/pink/clr7/') Pink Frames
