div
  // <p>{{iframeUrl}}</p>
  // <button v-on:click="click()">SDS</button>
  //.loading(v-if='!frameLoaded')
  .frame-loader(v-if='!frameLoaded')
    i.fa.fa-spinner.fa-spin.fa-pulse.fa-3x

  //.debug_data_for_test(v-if='iframeHidden.order_data' v-show='false')
      span.unit_price {{ iframeHidden.order_data[0][0]['unit_price'] }}
      ul
        li(v-for='(field, key) in iframeHidden.order_data[0][0]')
          | {{key}}: {{field}}
      ul
        li(v-for='(field, key) in iframeHidden.order_data[0][1]')
          | {{key}}: {{field}}
      ul
        li(v-for='(field, key) in iframeHidden.order_data[1]')
          | {{key}}: {{field}}
      ul
        li(v-for='(field, key) in iframeHidden.transaction')
          | {{key}}: {{field}}


  #paymentAccordion(v-show="frameLoaded").payment-accordion
    .payment-wrapper(v-for='(method, index) in paymentMethods', :id='"paymentMethod"+index')
      .collapse-title(:id='"paymentIframe" + index + "CollapseTitle"',
      @click = 'onChangeMethod(index)'
      data-toggle="collapse", aria-expanded="false",
      :data-target='"#paymentIframe" + index + "Collapse"',
      :aria-controls='"paymentIframe" + index + "Collapse"')
        .custom-control.custom-radio
          input(:id="'paymentRadio' + index", type="radio",
          name="paymentMethod", :value='index',
          v-model='activeMethod').custom-control-input
          label(:for="'paymentRadio' + index").custom-control-label {{ index }}
      .collapse(:id='"paymentIframe" + index + "Collapse"',
      :aria-labelledby='"paymentIframe" + index + "CollapseTitle"',
      data-parent="#paymentAccordion")
        iframe(:id='"paymentIframe" + index', :src='method',
        frameborder="0", width="100%", v-show='canShowFrame').payment-iframe
